/* nav bar*/
a{
  font-family: sans-serif;
}
ul{
  list-style: none;
}
.nav-list{ 
  margin: 0 0;
  padding: 0 0;
  overflow: hidden;
  background-color: #000000b9;
}
li.nav{float: left;
  padding: 6px;
}
li.nav a{display: block; 
color: white;
text-align:center;
padding: 8px;
text-decoration:solid;}
li.nav a:hover {background-color: grey;
}
li.nav{
   border-right: 1px solid white;
}
/* styling*/
*{
  padding: 0;
  margin:0 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
}
.container{
  width: 500px;
  height: 500px;
  max-width: 100%;
  margin: 0 auto;
}
.calc-table{
  border: 8px;
  font-family: sans-serif;
}
h2{
  text-align: center;
  padding: 16px;
}
.Calculator-buttons{
  max-width:50%;
  margin: 0 auto;
}
:root{
  --special-button-color: rgb(204, 204, 204); 
  --number-button-color: grey;
  --operator-button-color:orange;
  --answer-typebox-color:white;
}
 .calc-table{
   background-color: black;
   padding: 2px;
   border-radius: 8px;
   width: 100%;
  }
  .answer{
    font-size: 24px;
    padding: 20px;
    font-weight: 200;
    text-align: right;
    width: 100%;
    border-radius: 8px;
    border: 2px  black;
    background-color: var(--answer-typebox-color);
  }
  .answer:focus{
    outline-color: grey;
  }
   .special{
    width: 100%;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: var(--special-button-color);
    width: 100%;
  }
  .special:hover{
    background-color: rgb(218, 216, 216);
    transition: 0.3s;
  }
  .operator{
    width: 100%;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: var(--operator-button-color)
  }
  .operator:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(231, 157, 19);
    transition: 0.s;
  }
  .number{ 
    padding: 16px;
    width: 100%;
    font-weight: 100;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color:var(--number-button-color);
    color: rgb(255, 255, 255);
  }
  .number:hover{
    background-color: rgb(172, 170, 170);
    transition: 0.5s;
  }
  